* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lists {
  margin: 45px;
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.list {
  position: relative;
  border: 1px solid #000000c3;
  padding: 15px;
  border-radius: 5px;
}

.list__label {
  position: absolute;
  padding: 5px;
  bottom: calc(100% - 15px);
  background-color:rgb(255, 255, 255)
}

.list__button {
  background-color: #799279c3;
  border: 1px solid #000000c3;
  outline: none;
  border-radius: 5px;
  margin-left: 5px;
  padding: 2px 5px;
  cursor: pointer;
  transition: 0.3s;
}

.list__button:hover {
  background-color: #7bbc7dc3;
}

.input_sub_tarea{
  border: 1px solid #000000c3;
  border-radius: 4px;
}

.input_tarea{
  border: 1px solid #000000c3;
  border-radius: 4px;
  margin-left: 850px; 
}